:root {
    --v-theme-font-family: 'Nunito', sans-serif
}

html {
    scroll-behavior: smooth;
}

.v-btn {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}
.v-card {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}
.v-alert {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}